/* Стили для основного контейнера */
main {
    display: flex;           /* Включаем flex-контейнер */
    flex-direction: column;    /* Элементы будут располагаться по вертикали */
      justify-content: flex-start;/* Выравнивание по верху */
      align-items: center;    /* Центрирование по горизонтали */
    height: 100vh;           /* Высота на весь экран */
    padding-top: 120px;       /* Отступ сверху, чтобы элементы не прилипали к верхней границе */
}

/* Контейнер для кнопок */
.button-container {
    display: flex;
    gap: 10px;               /* Расстояние между кнопками */
}

/* Стили для кнопок */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Дополнительные стили для текста счетчика */
#value {
    font-size: 64px;
    margin-bottom: 20px;     /* Отступ снизу */
}